body {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

h1 {
    margin-bottom: 20px;
}

a{
    margin-left: 450px;
    margin-bottom: 10px;
    padding: 0;    
    display: flex;
    overflow: hidden;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main-page {
    border: 1.5px solid #B2B2B2;
    border-radius: 10px 15px;
    background-color: white;
    padding: 20px 40px;
}

.form-sign-up {
    border: 1px solid black;
    background-color: white;
    padding: 14px 18px;
    border-radius: 10px;
}

input {
    padding: 15px;    
    margin: 8px 10px;
}

input[type=email] {
    width: 100%;  
    box-sizing: border-box;  
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    display: inline-block;
    margin: 8px 0;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    display: inline-block;
    margin: 8px 0;
}

input[type=email]:hover {
    border-color: #707070;
}

input[type=text]:hover {
    border-color: #707070;
}

input[type=button] {
    width: 100%;
    margin: 8px 0;
    border: none;
    background-color: #002253;
    color: white;
    border-radius: 5px;
}

input[type=button]:hover {
    background-color: #00327A;
    cursor: pointer;
}